a {
  text-decoration: none;
}

body {
  font-family: sans-serif;
  text-align: center;
}

#tooltip {
  background-color: rgba(255, 255, 204, 0.9);
  border-radius: 2px;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  padding: 7.5px;
  pointer-events: none;
  position: absolute;
}

#treemap-svg {
  font-size: 10px;
}
